*{
  margin: 0;
  padding: 0;
}
.total{
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-color: #e4e9e8;
  height: 100vh;
}
.nav{
  width: 1350px;
  height: 85px;
  margin: auto;
  background-color: white;
}
.logo img{
 position: absolute;
  top: 1%;
  left: 3%;
  max-width: 75px;
  max-height: 75px;
}
.menu{
  width: 400px;
  float: left;
  margin-left: 15%;
  margin-top: 0px;
  padding-top: 0px;
  height: 70px;
}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-left: 32px;
  margin-top: 38px;
  font-size: 20px;
}
ul li a{
  text-decoration: none;
  color: #04645b;
  font-family: 'Segoe UI';
  position: relative;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
ul li a:after{
  content: "";
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0%;
  left: 3%;
  bottom: -20%;
  transition: step-end;
}
ul li a:hover{
  color: orange;
}
ul li a:hover:after{
  width: 90%;
  color: orange;
}
.logout{
  width: 330px;
  float: right;
  margin-top: 27px;
}
.logbutton{
  width: 40%;
  height: 40px;
  border: 2px solid #04645b;
  background: white;
  margin-top: -2px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.logbutton a{
  color: #04645b;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Segoe UI';
}
.content h1{
  font-family: 'Segoe UI';
  font-size: 30px;
  padding-left: 40px;
  margin-top: 3%;
  letter-spacing: 1px;
  text-decoration: none;
  color: #04645b;
}
.content h2{
  font-family: Arial;
  font-size: 20px;
  padding-left: 40px;
  margin-top: 2%;
  letter-spacing: 1px;
  color: #04645b;
  text-decoration: none;  
}
.image img{
  width: 100%;
  height: 95px;
  opacity: 50%;
}

.title{
  text-align: left;
  font-size: 13px;
  color: #04645b;
  margin-left: 3% ;
}

.time1{
  text-align: left;
  margin-top: 5%;
  margin-left: 3%;
  float: left;
  color: #04645b;
}

.time2{
  text-align: right;
  margin-top: 5%;
  margin-right: 3%;
  color: #04645b;
}
.card1{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left: 5%;
  margin-top: 2%;
}
.card1:hover{
  box-shadow: 2px 2px 10px #04645b;
}
.card2{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left:27%;
  margin-top: -17%;
}

.card2:hover{
  box-shadow: 2px 2px 10px #04645b;
}

.card3{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left:50%;
  margin-top: -17%;
}

.card3:hover{
  box-shadow: 2px 2px 10px #04645b;
}

.card4{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left: 72%;
  margin-top: -17%;
}

.card4:hover{
  box-shadow: 2px 2px 10px #04645b;
}
.card5{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left: 5%;
  margin-top: 6%;
}
.card5:hover{
  box-shadow: 2px 2px 10px #04645b;
}
.card6{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left:27%;
  margin-top: -16.5%;
}

.card6:hover{
  box-shadow: 2px 2px 10px #04645b;
}
.card7{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left:50%;
  margin-top: -16.5%;
}

.card7:hover{
  box-shadow: 2px 2px 10px #04645b;
}
.card8{
  background-color:white;
  width: 20%;
  height: 35%;
  margin-left:72%;
  margin-top: -16.5%;
}

.card8:hover{
  box-shadow: 2px 2px 10px #04645b;
}