.header{
  position: absolute;
  display: block;
  top: 35%;
  bottom: 5%;
  left: 30%;
  right: 5%;
  height: 50%;
  transform: translate(-20%,-20%);
}
.total{
  height: 100%;
  position: fixed;
}
.bg{
  width:100%;
  height: 100%;
  position: fixed;
}
.logo img{
  position: absolute;
  top: 3%;
  left: 3%;
  max-width: 75px;
  max-height: 75px;
}
.hline1{
  margin-left: 15%;
  color: #011a16;
  font-size: 20px;
  line-height: 5px;
  transform: translate(0%,200%);
  margin-top: 4%;
}
.hlinel{
    margin-left: 15%;
    color: #011a16;
    font-size: 20px;
    line-height: 5px;
    transform: translate(0%,200%);
    margin-top: 7%;
  }
  .hlinec{
    margin-left: 15%;
    color: orangered;
    font-size: 20px;
    line-height: 5px;
    transform: translate(0%,200%);
    margin-top: 5%;
  } 
  .app {
    font-family: sans-serif;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    height: 300px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .button-container button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #032536;
    color: #fff;
    padding: 10px 100px;
  }
  .button-container button:hover {
    background: orangered;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .list-container {
    display: flex;
  }
  .error {
    color: red;
    font-size: 12px;
  }
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .form-box{
    position: absolute;
    transform: translate(220%,-45%);
  }