.total{
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-color: #e4e9e8;
    height: 100vh;
    position: fixed;
  }
  .nav{
    width: 1350px;
    height: 85px;
    margin: auto;
    background-color: white;
  }
  .logo img{
   position: absolute;
    top: 1%;
    left: 3%;
    max-width: 75px;
    max-height: 75px;
  }
  .menu{
    width: 400px;
    float: left;
    margin-left: 15%;
    margin-top: 0px;
    padding-top: 0px;
    height: 70px;
  }
  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li{
    list-style: none;
    margin-left: 32px;
    margin-top: 38px;
    font-size: 20px;
  }
  ul li a{
    text-decoration: none;
    color: #04645b;
    font-family: 'Segoe UI';
    position: relative;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }
  .menu1 ul li a{
    text-decoration: none;
    color: orange;
    font-family: 'Segoe UI';
    position: relative;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }
  .menu ul li a:after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 3px;
    width: 0%;
    left: 3%;
    bottom: -20%;
    transition: step-end;
  }
  .menu ul li a:hover{
    color: orange;
  }
  .menu ul li a:hover:after{
    width: 90%;
    color: orange;
  }
  .logout{
    width: 330px;
    float:
     right;
    margin-top: 27px;
  }
  .logbutton{
    width: 40%;
    height: 40px;
    border: 2px solid #04645b;
    background: white;
    margin-top: -2px;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .logbutton a{
    color: #04645b;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI';
  }
  .heading h1{
    font-family: 'Segoe UI';
    font-size: 30px;
    padding-left: 40px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-decoration: none;
    color: #04645b;
  }  
  .instruct{
      padding-left: 40px;
      margin-top: 30px;
      color: #04645b;
  }
.date{
    padding-left: 350px;
    margin-top: 30px;
    color: #04645b;
    margin-top: -3.2%;
}
.paragraph{
    color: #04645b;
    padding-left: 40px;
    line-height: 20px;
    margin-top: 4%;
}
.button button{
    width: 90px;
  height: 30px;
   margin-left: 20%;
   margin-top: 3%;
   background-color: #306dab;
   color: white;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.image img{
  max-height: 1000px;
  max-width: 700px;
  transform: translate(0%,-99%);
  float: right;
}
